gspread
google-auth-oauthlib
google-auth-httplib2
pandas
python-dateutil
pytz
numpy
tqdm
openpyxl
selenium==4.22.0
webdriver-manager==4.0.1
tefas==1.0.1             # <-- Burası 0.0.10'dan 1.0.1'e DEĞİŞTİRİLDİ
# jupyter
# ipywidgets
