tefas-crawler>=0.2.0  # `tefas` yerine doğru kütüphane, en son sürümü kontrol edin
gspread
google-auth-oauthlib
google-auth-httplib2
pandas
python-dateutil
pytz
numpy
tqdm
openpyxl
jupyter
ipywidgets
