name: OtoFon Dinamik Analiz

on:
  push:
    branches:
      - ana
  schedule:
    - cron: '15 8 * * 1-5' # TR saatiyle 11:15 (UTC 08:15)
  workflow_dispatch: # Manuel çalıştırma butonu için boş bırakılmalı

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Kopyala
        uses: actions/checkout@v4

      - name: Python 3.10 Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Bağımlılıkları Yükle
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Adım 1: Fon Listesi Oluştur
        run: python tarama_script.py weekly 2

      - name: Adım 2: Dinamik Analiz Yap
        if: success()
        run: python analiz_script.py

      - name: Sonuçları Kaydet
        uses: actions/upload-artifact@v4
        with:
          name: analiz-sonuclari
          path: |
            *.xlsx
            *.txt
